@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import './nprogress.css';

@theme {
  --font-inter: 'Inter', sans-serif;
  --default-font-family: --theme(--font-inter, initial);

  --color-primary-200: #cfe2f4;
  --color-primary-300: #9fc5e9;
  --color-primary-400: #3f8bd2;
  --color-primary-500: #246cb0;
  --color-primary-800: #364655;
  --color-primary-900: #2a333c;
  --color-primary: var(--color-primary-400);

  --color-gray-*: initial;
  --color-gray-100: #eff1f3;
  --color-gray-300: #d9d9d9;
  --color-gray-500: #808080;

  --radius-soft: 0.875rem;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    color: var(--color-gray-900);
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

/* It helps with smooth theme switch transition */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
